In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\snigdha\anaconda3\lib\site-packages (3.7)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: tqdm in c:\users\snigdha\anaconda3\lib\site-packages (from nltk) (4.64.0)

Requirement already satisfied: joblib in c:\users\snigdha\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: click in c:\users\snigdha\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\snigdha\anaconda3\lib\site-packages (from nltk) (2022.3.15)
Requirement already satisfied: colorama in c:\users\snigdha\anaconda3\lib\site-packages (from click->nltk) (0.4.4)

In [2]:
import nltk

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Snigdha\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [4]:
import pandas as pd

In [5]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [44]:
fake

,title,text,subject,date,target,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0,0
...,...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0,0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0,0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0,0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0,0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0,0

In [39]:
fake['genuiness']=0
genuine['genuiness']=1

In [40]:
genuine

,title,text,subject,date,target,genuiness
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1,1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1,1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1,1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1,1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1,1
...,...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1,1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1,1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1,1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1,1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1,1

In [92]:
dataset=pd.concat([fake,genuine])

In [93]:
dataset

,title,text,subject,date,target,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0,0
...,...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1,1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1,1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1,1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1,1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1,1

## Pre Processing

In [94]:
dataset=dataset.reset_index(drop=True)

In [95]:
dataset

,title,text,subject,date,target,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0,0
...,...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1,1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1,1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1,1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1,1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1,1

In [96]:
dataset=dataset.drop(['date','title','subject'],axis=1)

In [97]:
dataset

                                                    text  target  genuiness
0      Donald Trump just couldn t wish all Americans ...       0          0
1      House Intelligence Committee Chairman Devin Nu...       0          0
2      On Friday, it was revealed that former Milwauk...       0          0
3      On Christmas day, Donald Trump announced that ...       0          0
4      Pope Francis used his annual Christmas Day mes...       0          0
...                                                  ...     ...        ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1          1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1          1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1          1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1          1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1          1

[44898 rows x 3 columns]

In [98]:
display(fake.info())
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      23481 non-null  object
 1   text       23481 non-null  object
 2   subject    23481 non-null  object
 3   date       23481 non-null  object
 4   target     23481 non-null  int64
 5   genuiness  23481 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.1+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      21417 non-null  object
 1   text       21417 non-null  object
 2   subject    21417 non-null  object
 3   date       21417 non-null  object
 4   target     21417 non-null  int64
 5   genuiness  21417 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1004.0+ KB

None

In [99]:
display(fake.head())
display(genuine.head())

,title,text,subject,date,target,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0,0

,title,text,subject,date,target,genuiness
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1,1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1,1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1,1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1,1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1,1

In [100]:
display(fake.subject.value_counts())
print('\n')
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [101]:
fake['target'] = 0
genuine['target'] = 1

In [102]:
display(fake.head())

,title,text,subject,date,target,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0,0

In [103]:
display(genuine.head())

,title,text,subject,date,target,genuiness
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1,1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1,1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1,1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1,1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1,1

In [104]:
dataset = pd.concat([fake, genuine], axis=0)

In [105]:
dataset = dataset.reset_index(drop=True)

In [107]:
print(dataset.columns)
print(dataset)

Index(['title', 'text', 'subject', 'date', 'target', 'genuiness'], dtype='object')
                                                   title  \
0       Donald Trump Sends Out Embarrassing New Year’...
1       Drunk Bragging Trump Staffer Started Russian ...
2       Sheriff David Clarke Becomes An Internet Joke...
3       Trump Is So Obsessed He Even Has Obama’s Name...
4       Pope Francis Just Called Out Donald Trump Dur...
...                                                  ...
44893  'Fully committed' NATO backs new U.S. approach...
44894  LexisNexis withdrew two products from Chinese ...
44895  Minsk cultural hub becomes haven from authorities
44896  Vatican upbeat on possibility of Pope Francis ...
44897  Indonesia to buy $1.14 billion worth of Russia...

                                                    text    subject  \
0      Donald Trump just couldn t wish all Americans ...       News
1      House Intelligence Committee Chairman Devin Nu...       News
2      On Friday, it was revealed that former Milwauk...       News
3      On Christmas day, Donald Trump announced that ...       News
4      Pope Francis used his annual Christmas Day mes...       News
...                                                  ...        ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...  worldnews
44894  LONDON (Reuters) - LexisNexis, a provider of l...  worldnews
44895  MINSK (Reuters) - In the shadow of disused Sov...  worldnews
44896  MOSCOW (Reuters) - Vatican Secretary of State ...  worldnews
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...  worldnews

                    date  target  genuiness
0      December 31, 2017       0          0
1      December 31, 2017       0          0
2      December 30, 2017       0          0
3      December 29, 2017       0          0
4      December 25, 2017       0          0
...                  ...     ...        ...
44893   August 22, 2017        1          1
44894   August 22, 2017        1          1
44895   August 22, 2017        1          1
44896   August 22, 2017        1          1
44897   August 22, 2017        1          1

[44898 rows x 6 columns]

##  TOKENIZATION

In [109]:
from nltk.tokenize import word_tokenize
dataset['text']=dataset['text'].apply(word_tokenize)

In [110]:
dataset

,title,text,subject,date,target,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,"[Donald, Trump, just, couldn, t, wish, all, Am...",News,"December 31, 2017",0,0
1,Drunk Bragging Trump Staffer Started Russian ...,"[House, Intelligence, Committee, Chairman, Dev...",News,"December 31, 2017",0,0
2,Sheriff David Clarke Becomes An Internet Joke...,"[On, Friday, ,, it, was, revealed, that, forme...",News,"December 30, 2017",0,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"[On, Christmas, day, ,, Donald, Trump, announc...",News,"December 29, 2017",0,0
4,Pope Francis Just Called Out Donald Trump Dur...,"[Pope, Francis, used, his, annual, Christmas, ...",News,"December 25, 2017",0,0
...,...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,"[BRUSSELS, (, Reuters, ), -, NATO, allies, on,...",worldnews,"August 22, 2017",1,1
44894,LexisNexis withdrew two products from Chinese ...,"[LONDON, (, Reuters, ), -, LexisNexis, ,, a, p...",worldnews,"August 22, 2017",1,1
44895,Minsk cultural hub becomes haven from authorities,"[MINSK, (, Reuters, ), -, In, the, shadow, of,...",worldnews,"August 22, 2017",1,1
44896,Vatican upbeat on possibility of Pope Francis ...,"[MOSCOW, (, Reuters, ), -, Vatican, Secretary,...",worldnews,"August 22, 2017",1,1
44897,Indonesia to buy $1.14 billion worth of Russia...,"[JAKARTA, (, Reuters, ), -, Indonesia, will, b...",worldnews,"August 22, 2017",1,1

In [111]:
print(dataset.head(10))

                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...
5   Racist Alabama Cops Brutalize Black Boy While...
6   Fresh Off The Golf Course, Trump Lashes Out A...
7   Trump Said Some INSANELY Racist Stuff Inside ...
8   Former CIA Director Slams Trump Over UN Bully...
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...

                                                text subject  \
0  [Donald, Trump, just, couldn, t, wish, all, Am...    News
1  [House, Intelligence, Committee, Chairman, Dev...    News
2  [On, Friday, ,, it, was, revealed, that, forme...    News
3  [On, Christmas, day, ,, Donald, Trump, announc...    News
4  [Pope, Francis, used, his, annual, Christmas, ...    News
5  [The, number, of, cases, of, cops, brutalizing...    News
6  [Donald, Trump, spent, a, good, portion, of, h...    News
7  [In, the, wake, of, yet, another, court, decis...    News
8  [Many, people, have, raised, the, alarm, regar...    News
9  [Just, when, you, might, have, thought, we, d,...    News

                date  target  genuiness
0  December 31, 2017       0          0
1  December 31, 2017       0          0
2  December 30, 2017       0          0
3  December 29, 2017       0          0
4  December 25, 2017       0          0
5  December 25, 2017       0          0
6  December 23, 2017       0          0
7  December 23, 2017       0          0
8  December 22, 2017       0          0
9  December 21, 2017       0          0

## STEMMING

In [17]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [59]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [112]:
dataset['text']=dataset['text'].apply(stem_it)

In [113]:
dataset

,title,text,subject,date,target,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,"[donald, trump, just, couldn, t, wish, all, am...",News,"December 31, 2017",0,0
1,Drunk Bragging Trump Staffer Started Russian ...,"[hous, intellig, committe, chairman, devin, nu...",News,"December 31, 2017",0,0
2,Sheriff David Clarke Becomes An Internet Joke...,"[on, friday, ,, it, was, reveal, that, former,...",News,"December 30, 2017",0,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"[on, christma, day, ,, donald, trump, announc,...",News,"December 29, 2017",0,0
4,Pope Francis Just Called Out Donald Trump Dur...,"[pope, franci, use, his, annual, christma, day...",News,"December 25, 2017",0,0
...,...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,"[brussel, (, reuter, ), -, nato, alli, on, tue...",worldnews,"August 22, 2017",1,1
44894,LexisNexis withdrew two products from Chinese ...,"[london, (, reuter, ), -, lexisnexi, ,, a, pro...",worldnews,"August 22, 2017",1,1
44895,Minsk cultural hub becomes haven from authorities,"[minsk, (, reuter, ), -, in, the, shadow, of, ...",worldnews,"August 22, 2017",1,1
44896,Vatican upbeat on possibility of Pope Francis ...,"[moscow, (, reuter, ), -, vatican, secretari, ...",worldnews,"August 22, 2017",1,1
44897,Indonesia to buy $1.14 billion worth of Russia...,"[jakarta, (, reuter, ), -, indonesia, will, bu...",worldnews,"August 22, 2017",1,1

In [114]:
print(dataset.head(10))

                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...
5   Racist Alabama Cops Brutalize Black Boy While...
6   Fresh Off The Golf Course, Trump Lashes Out A...
7   Trump Said Some INSANELY Racist Stuff Inside ...
8   Former CIA Director Slams Trump Over UN Bully...
9   WATCH: Brand-New Pro-Trump Ad Features So Muc...

                                                text subject  \
0  [donald, trump, just, couldn, t, wish, all, am...    News
1  [hous, intellig, committe, chairman, devin, nu...    News
2  [on, friday, ,, it, was, reveal, that, former,...    News
3  [on, christma, day, ,, donald, trump, announc,...    News
4  [pope, franci, use, his, annual, christma, day...    News
5  [the, number, of, case, of, cop, brutal, and, ...    News
6  [donald, trump, spent, a, good, portion, of, h...    News
7  [in, the, wake, of, yet, anoth, court, decis, ...    News
8  [mani, peopl, have, rais, the, alarm, regard, ...    News
9  [just, when, you, might, have, thought, we, d,...    News

                date  target  genuiness
0  December 31, 2017       0          0
1  December 31, 2017       0          0
2  December 30, 2017       0          0
3  December 29, 2017       0          0
4  December 25, 2017       0          0
5  December 25, 2017       0          0
6  December 23, 2017       0          0
7  December 23, 2017       0          0
8  December 22, 2017       0          0
9  December 21, 2017       0          0

## Stopword removal

In [68]:
def stop_it(text):
    return [word for word in text if len(word) >> 2]

In [115]:
dataset['text']=dataset['text'].apply(stop_it)

In [116]:
dataset

,title,text,subject,date,target,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,"[donald, trump, just, couldn, wish, american, ...",News,"December 31, 2017",0,0
1,Drunk Bragging Trump Staffer Started Russian ...,"[hous, intellig, committe, chairman, devin, nu...",News,"December 31, 2017",0,0
2,Sheriff David Clarke Becomes An Internet Joke...,"[friday, reveal, that, former, milwauke, sheri...",News,"December 30, 2017",0,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"[christma, donald, trump, announc, that, would...",News,"December 29, 2017",0,0
4,Pope Francis Just Called Out Donald Trump Dur...,"[pope, franci, annual, christma, messag, rebuk...",News,"December 25, 2017",0,0
...,...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,"[brussel, reuter, nato, alli, tuesday, welcom,...",worldnews,"August 22, 2017",1,1
44894,LexisNexis withdrew two products from Chinese ...,"[london, reuter, lexisnexi, provid, legal, reg...",worldnews,"August 22, 2017",1,1
44895,Minsk cultural hub becomes haven from authorities,"[minsk, reuter, shadow, disus, soviet-era, fac...",worldnews,"August 22, 2017",1,1
44896,Vatican upbeat on possibility of Pope Francis ...,"[moscow, reuter, vatican, secretari, state, ca...",worldnews,"August 22, 2017",1,1
44897,Indonesia to buy $1.14 billion worth of Russia...,"[jakarta, reuter, indonesia, will, sukhoi, fig...",worldnews,"August 22, 2017",1,1

In [117]:
print(dataset['text'].head(10))

0    [donald, trump, just, couldn, wish, american, ...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, reveal, that, former, milwauke, sheri...
3    [christma, donald, trump, announc, that, would...
4    [pope, franci, annual, christma, messag, rebuk...
5    [number, case, brutal, kill, peopl, color, see...
6    [donald, trump, spent, good, portion, golf, cl...
7    [wake, anoth, court, decis, that, derail, dona...
8    [mani, peopl, have, rais, alarm, regard, fact,...
9    [just, when, might, have, thought, break, from...
Name: text, dtype: object

In [118]:
dataset['text']=dataset['text'].apply(' '.join)

In [82]:
dataset

      text  target  genuiness
0                0          0
1                0          0
2                0          0
3                0          0
4                0          0
...    ...     ...        ...
44893            1          1
44894            1          1
44895            1          1
44896            1          1
44897            1          1

[44898 rows x 3 columns]

## Splitting up of data

In [136]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(dataset['text'], dataset['genuiness'], test_size=0.25)

In [137]:
x_train

3975     know former daili show host stewart gave donal...
40994    washington reuter u.s. defens secretari matti ...
31049    this version novemb stori offici correct parag...
2253     republican final roll their plan replac afford...
9499     check balanc between militari ncis need place ...
                               ...
20025    happi labor today celebr work american contrib...
20819    while london polic wast resourc track down peo...
28695    washington reuter white hous congress lack agr...
13683    just rememb woman believ hillari best candid b...
2591     probabl biggest point content with trump musli...
Name: text, Length: 33673, dtype: object

## Vectorization

In [138]:
from sklearn.feature_extraction.text import TfidfVectorizer 
my_tfidf = TfidfVectorizer( max_df=0.7)

tfidf_train = my_tfidf.fit_transform(x_train)
tfidf_test = my_tfidf.transform(x_test)

In [28]:
print(tfidf_train)

  (0, 34947)	0.03300031563865909
  (0, 38116)	0.08955231274558204
  (0, 24202)	0.06897474468864152
  (0, 87164)	0.02269188889741073
  (0, 41190)	0.04833237249342419
  (0, 31569)	0.025433493780964968
  (0, 30875)	0.02789505811297018
  (0, 85621)	0.02181835683631518
  (0, 58443)	0.027906332298453497
  (0, 74071)	0.06668054583766687
  (0, 79433)	0.021465401809631104
  (0, 16944)	0.033163755153310215
  (0, 65399)	0.035067949877296015
  (0, 66670)	0.025240162586569213
  (0, 28469)	0.04034406148868952
  (0, 37600)	0.06441326848406256
  (0, 89155)	0.029001848222542113
  (0, 65461)	0.027521133071879103
  (0, 90287)	0.03436642966960753
  (0, 24691)	0.02974069098906701
  (0, 71069)	0.05085844049796795
  (0, 40855)	0.03961370916576183
  (0, 21671)	0.05598430720053518
  (0, 18388)	0.05791968684777794
  (0, 21921)	0.046499163139819076
  :	:
  (33672, 10812)	0.007569352079461005
  (33672, 81766)	0.040312726225758995
  (33672, 17269)	0.05293506174357379
  (33672, 89083)	0.019117307128067345
  (33672, 40037)	0.022313205447068885
  (33672, 50480)	0.013964683621910529
  (33672, 13612)	0.00854269073323558
  (33672, 63494)	0.04649390535130234
  (33672, 45071)	0.0209459457687412
  (33672, 59523)	0.055313011260617176
  (33672, 64850)	0.014015056779485323
  (33672, 75237)	0.012187652278006958
  (33672, 81926)	0.031894311256038706
  (33672, 58220)	0.04082374323513492
  (33672, 89156)	0.02642818091798949
  (33672, 60910)	0.01780203615563026
  (33672, 28339)	0.019066614689670965
  (33672, 7408)	0.008296414573732954
  (33672, 80316)	0.013638187153227996
  (33672, 82218)	0.04976232405177321
  (33672, 50624)	0.017140275322796616
  (33672, 32742)	0.01383307980985646
  (33672, 31160)	0.015617425933437555
  (33672, 17226)	0.015179769439965815
  (33672, 89127)	0.009326848851708322

## Logistic Regression

In [140]:
from sklearn.linear_model import LogisticRegression
model_1 = LogisticRegression(max_iter=500)
model_1.fit(tfidf_train, y_train)

LogisticRegression(max_iter=500)

In [141]:
from sklearn.metrics import accuracy_score
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)

98.71714922048997

## Passive Aggressive Classifier

In [142]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=100)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=100)

In [143]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.61692650334075